.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50 px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
  color: black; }

.footer {
  background-color: #bce3ec;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70 px 30 px;
  background: #dde6e9;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #33c3d6; }

.carousel {
  background: #33c3d6; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.modal .modal-header {
  background: #33c3d6;
  color: floralwhite; }
  .modal .modal-header .close {
    color: floralwhite; }

.modal .modal-body {
  background: #bce3ec; }

.container {
  color: floralwhite; }

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857; }

.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 10px;
  border-radius: 70px;
  font-size: 24px;
  line-height: 1.33; }

.nav-item {
  padding: 10px 10px; }
