$lt-gray:#ddd;
$background-dark:rgb(51, 195, 214);
$background-light:rgb(221, 230, 233);
$background-pale:rgb(188, 227, 236);

//height variables
$carousel-item-height:300px;

@mixin zero-margin($pad-up-dn, $pad-left-right){
margin: 0px auto;
padding: $pad-up-dn $pad-left-right;
}

.row-header{
    @include zero-margin(0px,0px);
}

.row-content{
    @include zero-margin(50 px, 0px);
    border-bottom: 1px ridge;
    min-height: 400px;
    color: black;
}

.footer{
    background-color: $background-pale;
    @include zero-margin(20px,0px);
}

.jumbotron{
    @include zero-margin(70 px,30 px);
    background: $background-light;
    color: floralwhite;
}

address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark{
    background-color: $background-dark;
}

.carousel{
    background: $background-dark;

    .carousel-item{
        height: $carousel-item-height;
        img{
            position: absolute;
            top: 0;
            left: 0;
            min-height: 300px;
        }
    }
}

#carouselButton{
    right:0px;
    position:absolute;
    bottom:0px;
}

.modal{
    .modal-header{
        background: $background-dark;
        color: floralwhite;
        .close{
            color: floralwhite;
        }
    }
    .modal-body{
        background: $background-pale;
    }
}

.container{
    color: floralwhite;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 10px;
    border-radius: 70px;
    font-size: 24px;
    line-height: 1.33;
}

.nav-item{
    padding: 10px 10px; 
}